SCOPES=https://www.googleapis.com/auth/drive
TOKEN_FILE_PATH=token.json
CLIENT_SECRET_FILE=src/config/credentials/ex.client_secret.json
FOLDER_ID=1bK6cQVGrBUBBgJBhCzBXd7ThpvzIgrDa // folder tren drive
OUTPUT_FOLDER=src/data
REDIRECT_URI=http://localhost:8000/callback
PORT=8000
GROQ_API_KEY=
AI_READONLY_DATABASE_URL=postgresql://ai_readonly:ai_readonly_change_me@localhost:5435/job_market