SCOPES=https://www.googleapis.com/auth/drive
TOKEN_FILE_PATH=token.json
CLIENT_SECRET_FILE=src/config/credentials/ex.client_secret.json
FOLDER_ID=1bK6cQVGrBUBBgJBhCzBXd7ThpvzIgrDa // folder tren drive
OUTPUT_FOLDER=src/data
REDIRECT_URI=http://localhost:8000/callback
PORT=8000


#default
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=job_market
DATABASE_URL=postgresql://postgres:password@localhost:5433/job_market